{% extends "Neoprenos/base.html" %}

{% load static %}

{% block main %}

<style>
    .table-container {
        margin-top: 20px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid white;
        padding: 10px;
        text-align: center;
    }
    th {
        background: black;
        color: orange;
    }

    td {
        color:white;
    }

    tr {
        background-color:black;
    }
</style>

<div class="container mt-5">
    <h1 class="text-center">Buscar Marca de Trajes</h1>
    <form method="GET" action="{% url 'buscar' %}">
        <div class="mb-3">
            {{ form.query }}
        </div>
        <button type="submit" class="btn btn-primary">Buscar todo</button>
    </form>

    {% if resultados is not None %}
    <h2 class="mt-4 text-center">Resultados:</h2>
    {% if resultados %}
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Medida</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in resultados %}
                    <tr>
                        <td>{{ producto.id }}</td>
                        <td>{{ producto.marca }}</td>
                        <td>{{ producto.modelo }}</td>
                        <td>{{ producto.serie }}</td>
                        <td>{{ producto.tipo }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="mt-4 text-danger">No se encontraron productos.</p>
    {% endif %}
    {% endif %}
</div>

{% endblock main %}