{% extends "Neoprenos/base.html" %}

{% load static %}

{% block main  %}

<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Que Productos ofrecemos en NeoprenOS ?</h2>
        <hr class="divider" /hr>
    </div>
</section>
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static '/Neoprenos/assets/img/portfolio/fullsize/44.jpg' %}" title="Billabong">
                    <img class="img-fluid" src=" {% static '/Neoprenos/assets/img/portfolio/thumbnails/44.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Trajes Australianos</div>
                        <div class="project-name">Billabong</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static '/Neoprenos/assets/img/portfolio/fullsize/22.jpg' %}" title="Rip curl">
                    <img class="img-fluid" src=" {% static '/Neoprenos/assets/img/portfolio/thumbnails/22.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Trajes Indoneses</div>
                        <div class="project-name">Rip Curl</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static '/Neoprenos/assets/img/portfolio/fullsize/55.jpg' %}" title="Oneill">
                    <img class="img-fluid" src=" {% static '/Neoprenos/assets/img/portfolio/thumbnails/55.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Trajes Americanos</div>
                        <div class="project-name">Oneill</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static '/Neoprenos/assets/img/portfolio/fullsize/11.jpg' %}" title="Xcel">
                    <img class="img-fluid" src=" {% static '/Neoprenos/assets/img/portfolio/thumbnails/11.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Trajes Argentinos</div>
                        <div class="project-name">Xcel</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static '/Neoprenos/assets/img/portfolio/fullsize/33.jpg' %}" title="QuickSilver">
                    <img class="img-fluid" src=" {% static '/Neoprenos/assets/img/portfolio/thumbnails/33.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Trajes Indoneses</div>
                        <div class="project-name">QuickSilver</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static '/Neoprenos/assets/img/portfolio/fullsize/66.jpg' %}" title="Mormaii">
                    <img class="img-fluid" src=" {% static '/Neoprenos/assets/img/portfolio/thumbnails/66.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Trajes Brasileros</div>
                        <div class="project-name">Mormaii</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock main  %}