{% extends "Neoprenos/base.html" %}

{% load static %}

{% block main %}

<style>
    @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

    /* Variables de colores */
    :root {
        --yellow: #a49d80;
        --blue: #e7a670;
        --white: rgb(252, 251, 250);
        --orange: rgb(230, 99, 43);
        --black: #0a0a0ae7;
        --grey:#d1cbcbdb;
        --gren: rgb(15, 219, 206);
        --bold: 900;
        --medium: 700;
        --regular: 400;
        --small: 300;
        font-family: impact;
    }

    .container2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .login__inputs {
        max-width: 400px; 
    }

    .login__inputs p {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .login__inputs label {
        color: var(--black);
        padding-bottom: 3px;
        padding-left: 10px;
        font-weight: 2rem;
        font-family: impact;
    }

    .login__inputs input {
        height: 40px;
        padding: 0 20px;
        box-sizing: border-box;
        border-radius: 20px;
        color: var(--black);
        background: white;
    }

    .login__inputs button {
        width: 100%;
        height: 45px;
        color: var(--white);
        border-radius: 10px;
        border: 1px solid var(--white);
        font-size: 16px;
        letter-spacing: 0.6px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s linear;
        background: var(--black);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section {
        background: linear-gradient(to bottom, rgba(53, 57, 56, 0.8) 1%, rgba(246, 132, 50, 0.8) 80%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 2rem solid black;
        border-right: 2rem solid black;
        border-left: 2rem solid black;
        border-bottom: 2rem solid black;
        border-radius: 10px;
        padding-bottom:1rem;
    }

    .kiko {
        width: 100%;
        height: 45px;
        color: var(--white);
        border: 1px solid var(--white);
        font-size: 16px;
        letter-spacing: 0.6px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s linear;
        background: var(--black);
        display: flex;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }
</style>
  
<section>
    <div class="login__inputs">
        <p></p>    
            <form method="POST">
                {% csrf_token %}
                
                {{ form.as_p }}

                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                {% endfor %}
                
                <button type="submit">Iniciar sesión</button>
                <p></p>
                <a class="kiko" href="{% url 'Register' %}">Regístrate!</a>
            </form>
        </div>
        <p></p>
    </div>
</section>  

{% endblock main %}