
{% extends "Neoprenos/base.html" %}

{% load static %}

{% block main  %}


<div class="container mt-5">
    <h1>Perfil del Usuario</h1>
    <div class="row">
        <div class="col-md-6">
            <h3 style="color: orange;">LOGUEADO 
            </h3>
            <ul>
                <li><strong>Nombre de usuario:</strong> {{ user.username }}</li>
                <li><strong>Correo electrónico:</strong> {{ user.email }}</li>
                <li><strong>Nombre:</strong> {{ user.first_name }}</li>
                <li><strong>Apellido:</strong> {{ user.last_name }}</li>
                <li><strong>Avatar:</strong> 
                    {% if user.userprofile.avatar %}
                        {{ user.userprofile.avatar }} 
                    {% else %}
                        Sin avatar seleccionado
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container mt-5">
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Actualizar Informacion de Usuario</button>  <!-- Botón para enviar -->
    </form>
</div>
<p></p>
{% endblock main  %}